.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20%;
  margin-left: 18%;
  margin-right: 18%;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 80px;
  text-align: center;
  color: #ff8f23;
  margin-top: 8%;
}

#hiking {
  width: 100%;
  height: auto;
}

p {
  font-size: 30px;
  color: #0a3641;
  margin-top: 0;
}

@media screen and (min-width: 200px) and (max-width: 1250px) {
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 0%;
    margin-right: 0%;
    grid-column-gap: 0%;
  }

  body h1 {
    font-size: 40px;
    margin-top: 11%;
  }
  p {
    font-size: 20px;
    color: #0a3641;
    margin-top: 2%;
  }
}
