html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  display: inline;
}

nav a {
  padding: 20px;
}

.current {
  font-weight: bold;
}

img {
  height: 150px;
  width: auto;
  float: left;
  margin-left: 2%;
  margin-top: -1%;
  position: fixed;
}

li {
  display: inline;
}

.current {
  font-weight: bold;
}

nav a {
  padding: 20px;
  color: #0a3641;
  font-size: 37px;
  text-decoration: none;
}

nav {
  text-align: right;
  margin-right: 2%;
  margin-top: 2%;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  color: #ff8f23;
  margin-top: 5%;
}

#hiking {
  width: 500px;
  height: auto;
  float: left;
  margin-right: 350px;
  margin-left: 350px;
  margin-top: 3%;
}

p {
  font-size: 30px;
  color: #0a3641;
  float: right;
  width: 500px;
  margin-right: 350px;
  margin-right: 600px;
  margin-top: 3%;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  color: #0a3641;
}
