html main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  height: 150px;
  width: auto;
  float: left;
  margin-left: 2%;
  margin-top: -1%;
}

li {
  display: inline;
}

nav a {
  padding: 20px;
  color: #0a3641;
  font-size: 37px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  text-align: right;
  margin-right: 2%;
  margin-top: 2%;
}

#product {
  width: 20%;
  height: auto;
  margin-top: 6%;
  margin-left: -16%;
}

#backbutton {
  margin-top: 0%;
  float: left;
  margin-left: 3%;
  color: #0a3641;
  font-weight: bold;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: #ff8f23;
  font-weight: bold;
}

h1 {
  margin-top: 7%;
  margin-left: 45%;
  color: #0a3641;
  font-size: 32px;
}

.square {
  height: 20px;
  width: 20px;
  background-color: #95bac2;
  display: inline;
}

#info {
  margin-left: 45%;
  margin-top: 4%;
  font-size: 25px;
  color: #0a3641;
}

span {
  font-weight: bold;
}

button {
  background-color: #545454;
  margin-top: 4%;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ffffff;
  padding: 18px 32px;
  text-align: center;
  display: inline-block;
  font-size: 54px;
  width: 9em;
  border-radius: 50px;
  margin-left: 15%;
}

button:hover {
  cursor: pointer;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  color: #0a3641;
}
