html main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  height: auto;
  width: 15%;
  float: left;
  margin-left: 2%;
  margin-top: -1%;
}

#checkout {
  width: 8%;
  height: auto;
  margin-top: -10%;
  margin-left: 45%;
}

h1 {
  text-align: center;
  margin-top: 20%;
  font-weight: normal;
  color: #0a3641;
  font-size: 37px;
}

button {
  background-color: #0a3641;
  margin-top: 3%;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ffffff;
  padding: 32px 32px;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  font-size: 37px;
  width: 25%;
  border-radius: 50px;
  margin-left: 37%;
}

button:hover {
  cursor: pointer;
}

@media screen and (min-width: 200px) and (max-width: 1250px) {
 

  .btn {
    background-color: #0a3641;
  margin-top: 20%;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  font-size: 18px;
  width: 50%;
  border-radius: 50px;
  margin-left: 25%;
}
