html main {
  text-align: center;
}

#checkout {
  float: left;
  width: 8%;
  height: auto;
  margin-top: -10%;
  margin-left: 45%;
}

h1 {
  text-align: center;
  margin-top: 20%;
  font-weight: normal;
  color: #0a3641;
  font-size: 37px;
}

button {
  background-color: #0a3641;
  margin-top: 3%;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ffffff;
  padding: 32px 32px;
  font-size: 37px;
  width: 25%;
  border-radius: 50px;
}

button:hover {
  cursor: pointer;
}

@media screen and (min-width: 200px) and (max-width: 1250px) {
  .btn {
    margin-top: 20%;
    padding: 15px 32px;
    font-size: 18px;
    width: 50%;
  }

  h1 {
    font-size: 25px;
    margin-top: 50%;
  }

  #checkout {
    width: 20%;
    margin-top: -30%;
    margin-left: 40%;
  }
}
