html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logo {
  height: 150px;
  width: auto;
  float: left;
  margin-left: 2%;
  margin-top: -1%;
}

#logoLogin {
  height: 150px;
  width: auto;
  margin-left: 2%;
}

li {
  display: inline;
}

.current {
  font-weight: bold;
  color: #ff8f23;
}

nav a {
  padding: 10px;
  color: #0a3641;
  font-size: 25px;
  text-decoration: none;
}

nav {
  text-align: right;
  margin-right: 1%;
  margin-top: 2%;
}

@media screen and (min-width: 200px) and (max-width: 1250px) {
  #logo {
    height: auto;
    width: 25%;
  }

  #logoLogin {
    height: auto;
    width: 25%;
  }

  nav a {
    font-size: 20px;
    padding: 5px;
  }
}
