html {
  background: url(../images/rainydaysbackground.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  height: 150px;
  width: auto;
  float: left;
  margin-left: 2%;
  margin-top: -1%;
}

li {
  display: inline;
}

.current {
  font-weight: bold;
}

nav a {
  padding: 20px;
  color: #0a3641;
  font-size: 37px;
  text-decoration: none;
}

nav {
  text-align: right;
  margin-right: 2%;
  margin-top: 2%;
}

main {
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 12%;
  color: #0a3641;
  font-size: 58px;
  font-weight: normal;
}

button {
  background-color: #0a3641;
  margin-top: 1%;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  font-size: 54px;
  opacity: 0.8;
  width: 7em;
  border-radius: 50px;
}

button:hover {
  cursor: pointer;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  color: #ffffff;
}
