html {
  background: url(../images/rainydaysbackground2.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  text-align: center;
}

h1 {
  margin-top: 12%;
  color: #0a3641;
  font-size: 58px;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  background-color: #0a3641;
  margin-top: 1%;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ffffff;
  padding: 15px 32px;
  font-size: 54px;
  width: 7em;
  border-radius: 50px;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
}

@media screen and (min-width: 200px) and (max-width: 1250px) {
  h1 {
    text-align: center;
    margin-top: 30%;
    color: #0a3641;
    font-size: 35px;
    font-weight: normal;
  }

  .btn {
    margin-top: 30%;
    font-size: 38px;
  }
}
