html main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  height: 150px;
  width: auto;
  float: left;
  margin-left: 2%;
  margin-top: -1%;
}

li {
  display: inline;
}

nav a {
  padding: 20px;
  color: #0a3641;
  font-size: 37px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  text-align: right;
  margin-right: 2%;
  margin-top: 2%;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  color: #ff8f23;
  margin-top: 5%;
  text-align: center;
}

#product-box {
  width: 100%;
}

.price {
  float: right;
  text-align: right;
}

.product {
  width: 20%;
  float: left;
  display: block;
  margin-left: 10%;
  font-size: 26px;
  color: #0a3641;
}

.product img {
  width: 100%;
  height: auto;
}

.product img:hover {
  box-shadow: #0a3641 2px 2px 2px 2px;
  width: 100%;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  color: #0a3641;
}
