.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 300px;
  margin-left: 15%;
  margin-right: 15%;
  grid-column-gap: 10%;
}

@media screen and (min-width: 200px) and (max-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .product p {
    font-size: 20px;
  }

  body h1 {
    font-size: 60px;
  }

  #logo {
    height: auto;
    width: 25%;
  }

  body li a {
    font-size: 20px;
  }
}

html main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  height: 150px;
  width: auto;
  float: left;
  margin-left: 2%;
  margin-top: -1%;
}

li {
  display: inline;
}

nav a {
  padding: 20px;
  color: #0a3641;
  font-size: 37px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  text-align: right;
  margin-right: 2%;
  margin-top: 2%;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  color: #ff8f23;
  margin-top: 5%;
  text-align: center;
}

.price {
  float: right;
  text-align: right;
}

.product {
  width: 100%;
  float: left;
  display: block;
  font-size: 26px;
  color: #0a3641;
}

.product img {
  width: 100%;
  height: auto;
}

.product img:hover {
  width: 100%;
  opacity: 0.9;
}
