h1 {
  margin-top: 110px;
  font-size: 80px;
  color: #0a3641;
  text-align: center;
}

.form__input {
  display: block;
  color: #0a3641;
}

input[type="text"] {
  padding: 15px;
  width: 35%;
  margin-left: 32%;
  margin-top: 10px;
}

input[type="email"] {
  padding: 15px;
  width: 35%;
  margin-left: 32%;
  margin-top: 10px;
}

label[for="sir name"] {
  font-size: 20px;
  color: #0a3641;
  font-weight: bold;
  margin-left: 32%;
  margin-top: 30px;
}

label[for="first name"] {
  font-size: 20px;
  color: #0a3641;
  font-weight: bold;
  margin-left: 32%;
  margin-top: 30px;
}

input[type="password"] {
  padding: 15px;
  width: 35%;
  margin-left: 32%;
  margin-top: 10px;
}

label[for="email"] {
  font-size: 20px;
  color: #0a3641;
  font-weight: bold;
  margin-left: 32%;
  margin-top: 30px;
}

label[for="password"] {
  font-size: 20px;
  color: #0a3641;
  font-weight: bold;
  margin-left: 32%;
}

.form-error {
  margin-left: 32%;
  margin-bottom: 2%;
  color: red;
  font-weight: bold;
  //display: none;
}

button {
  background-color: #ffffff;
  margin-top: 2%;
  border-color: #ff8f23;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ff8f23;
  padding: 18px 32px;
  font-size: 35px;
  width: 10em;
  border-radius: 60px;
  border-width: 6px;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.9);
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (min-width: 200px) and (max-width: 1250px) {
  h1 {
    font-size: 40px;
    margin-top: 80px;
  }

  button {
    text-align: center;
    font-size: 22px;
    width: 60%;
    margin-left: 22%;
  }

  label[for="password"] {
    font-size: 14px;
  }

  label[for="sir name"] {
    font-size: 14px;
  }

  label[for="first name"] {
    font-size: 14px;
  }

  label[for="email"] {
    font-size: 14px;
  }

  .form-error {
    font-size: 14px;
  }

  .form-error {
    font-size: 14px;
  }

  form {
    margin-left: -5%;
  }
}
