html main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  color: #0a3641;
  text-align: center;
}

.form__input {
  display: block;
  color: #0a3641;
}

input[type="text"] {
  padding: 15px;
  width: 35%;
  margin-left: 32%;
  margin-top: 10px;
}

input[type="email"] {
  padding: 15px;
  width: 35%;
  margin-left: 32%;
  margin-top: 10px;
}

label[for="sir name"] {
  font-size: 20px;
  color: #0a3641;
  font-weight: bold;
  margin-left: 32%;
  margin-top: 30px;
}

label[for="first name"] {
  font-size: 20px;
  color: #0a3641;
  font-weight: bold;
  margin-left: 32%;
  margin-top: 30px;
}

input[type="password"] {
  padding: 15px;
  width: 35%;
  margin-left: 32%;
  margin-top: 10px;
}

label[for="email"] {
  font-size: 20px;
  color: #0a3641;
  font-weight: bold;
  margin-left: 32%;
  margin-top: 30px;
}

label[for="password"] {
  font-size: 20px;
  color: #0a3641;
  font-weight: bold;
  margin-left: 32%;
}

button {
  margin-top: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ff8f23;
  padding: 18px 32px;
  font-size: 35px;
  border-radius: 60px;
  border-color: #ff8f23;
  border-width: 6px;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 10em;
}

a {
  text-decoration: none;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

@media screen and (min-width: 200px) and (max-width: 1250px) {
  h1 {
    text-align: center;
    color: #0a3641;
    font-size: 40px;
    font-weight: bold;
  }

  button {
    background-color: #ffffff;
    margin-top: 2%;
    border-color: #ff8f23;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ff8f23;
    padding: 18px 32px;
    text-align: center;
    font-size: 22px;
    border-radius: 60px;
    margin-left: 40%;
    border-width: 6px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: block;
  }

  form {
    margin-left: -5%;
  }
}
