.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100;
  grid-column-gap: 5%;
  float: left;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
}

/* ------------------ Phone size --------------------------------- */
@media screen and (min-width: 200px) and (max-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 150px;
    row-gap: 15%;
  }

  .grid-item-1 p {
    font-size: 20px;
    margin-left: 2%;
  }

  #subTotal p {
    color: #0a3641;
    font-size: 20px;
  }
  #total p {
    color: #0a3641;
    font-size: 20px;
    font-weight: bold;
  }

  .btn {
    background-color: #0a3641;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ffffff;
    padding: 25px 32px;
    font-size: 20px;
    width: 100%;
    border-radius: 50px;
  }

  #logo {
    height: auto;
    width: 25%;
    position: relative;
  }
}

html main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logo {
  height: auto;
  width: 15%;
  float: left;
  margin-left: 2%;
}

.grid-item-1 {
  border: solid 1px #000000;
}

.grid-item-2 {
  color: #ffffff;
  font-size: 38px;
  font-weight: bold;
  border: solid 1px #000000;
}

#cartInfo {
  margin-right: 8%;
  margin-top: 2%;
}

.header {
  background-color: #ff8f23;
  border-bottom: solid 1px #000000;
  color: #ffffff;
  font-size: 38px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

#subTotal {
  color: #0a3641;
  font-size: 27px;
}

#total {
  color: #0a3641;
  font-size: 30px;
  border-top: solid 1px #000000;
  font-weight: bold;
}

#ordrBtn {
  text-align: center;
  border-top: solid 1px #000000;
  padding: 13%;
}

.price {
  text-align: right;
  float: right;
  margin-right: 3%;
}

.priceInfo {
  margin-left: 3%;
}

button {
  background-color: #0a3641;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ffffff;
  padding: 25px 32px;
  font-size: 40px;
  width: 100%;
  border-radius: 50px;
}

button:hover {
  cursor: pointer;
}

#jacket {
  width: 30%;
  height: auto;
  text-align: left;
}

#info {
  float: right;
  font-size: 30px;
  color: #0a3641;
}
