.gridContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100;
  grid-column-gap: 5%;
  float: left;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
}

.gridLeft {
  border: solid 1px #000000;
}

.gridRight {
  color: #ffffff;
  font-size: 38px;
  font-weight: bold;
  border: solid 1px #000000;
}

#cartInfo {
  margin-right: 8%;
}

.header {
  background-color: #ff8f23;
  border-bottom: solid 1px #000000;
  color: #ffffff;
  font-size: 38px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

#subTotal {
  color: #0a3641;
  font-size: 27px;
}

#total {
  color: #0a3641;
  font-size: 30px;
  border-top: solid 1px #000000;
}

#ordrBtn {
  text-align: center;
  border-top: solid 1px #000000;
  padding: 13%;
}

.price {
  float: right;
  margin-right: 3%;
}

.priceInfo {
  margin-left: 3%;
}

.btn {
  background-color: #0a3641;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ffffff;
  padding: 25px 32px;
  font-size: 40px;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

.btn:hover {
  opacity: 0.9;
}

#jacket {
  width: 30%;
  height: auto;
  text-align: left;
  margin-top: 1.8%;
  margin-left: 1.8%;
}

#info {
  float: right;
  font-size: 30px;
  color: #0a3641;
}

@media screen and (min-width: 200px) and (max-width: 1200px) {
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    height: 150px;
    row-gap: 15%;
    margin-top: 5%;
  }

  .gridLeft p {
    font-size: 20px;
    margin-left: 2%;
  }

  #subTotal p {
    font-size: 20px;
  }
  #total p {
    font-size: 20px;
  }

  .btn {
    font-size: 20px;
  }
}
