h1 {
  font-size: 80px;
  color: #0a3641;
  text-align: center;
}

h2 {
  font-size: 30px;
  font-weight: normal;
  color: #0a3641;
  text-align: center;
  margin-top: 2%;
}

.form__input {
  color: #0a3641;
}

input[type="email"] {
  padding: 15px;
  width: 35%;
  margin-left: 32%;
  margin-top: 10px;
}

input[type="password"] {
  padding: 15px;
  width: 35%;
  margin-left: 32%;
  margin-top: 10px;
}

label[for="email"] {
  font-size: 20px;
  color: #0a3641;
  font-weight: bold;
  margin-left: 32%;
  margin-top: 30px;
}

label[for="password"] {
  font-size: 20px;
  color: #0a3641;
  font-weight: bold;
  margin-left: 32%;
}

.btn {
  background-color: #ff8f23;
  margin-top: 2%;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ffffff;
  padding: 18px 32px;
  font-size: 54px;
  width: 9em;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.btn2 {
  background-color: #ffffff;
  margin-top: 2%;
  border-color: #ff8f23;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #ff8f23;
  padding: 18px 32px;
  font-size: 35px;
  width: 10em;
  border-radius: 60px;
  border-width: 6px;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

p {
  text-align: center;
  font-size: 30px;
  color: #0a3641;
  margin-top: 2%;
}

@media screen and (min-width: 200px) and (max-width: 1250px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 20px;
    margin-top: 4%;
  }

  form {
    margin-left: -5%;
  }

  .btn {
    margin-top: 4%;
    font-size: 25px;
    width: 60%;
  }

  .btn2 {
    text-align: center;
    font-size: 22px;
    width: 60%;
  }
}
